<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GREENLEAF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    
    <script>
        let myModule = angular.module("modulekuch", []);
        let myController = myModule.controller("controllerkuch", function ($scope, $http) {
            $scope.doshowcities = function () {
                let url = "/fetch-all-cities";
                $http.get(url).then(function (resp) {
                    //alert(JSON.stringify(resp.data));
                    $scope.jsonArraycity = resp.data;

                }, function (err) {
                    alert(err);
                })
            }
            $scope.doFetchequip = function () {
                let url = "/do-fetch-inner-join-equip?city=" + $scope.SelCity;
                $http.get(url).then(function (resp) {
                    // alert(JSON.stringify(resp.data));
                    $scope.jsonArrayequip = resp.data;
                }, function (err) {
                    alert(err);
                })
            }
            $scope.get_all_equip = function (equipment) {
                $scope.equipment = equipment;
                
                let url = "/fetch-all-equip-get?equipment=" + $scope.equipment + "&city=" + $scope.SelCity+"&etype="+$scope.buybor;
                $http.get(url).then(function (resp) {
                    $scope.jsonArray = resp.data;
                }, function (err) {
                    alert(err);
                })

            }
            //=========
            $scope.doshowdetails = function (obj) {
                $scope.objone = obj;
            }
        })
    </script>
</head>

<body ng-app="modulekuch" ng-controller="controllerkuch" ng-init="doshowcities();">
     <nav class="navbar p-0 mb-5" style="background-color: beige;">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="pics/pngtree-green-leaf-logo-organic-life-design-vector-png-image_43723186.png" alt="Logo"
                    width="100" height="80">
                <span style="font-family: cursive;font-size: x-large;"><b>Green Leaf</b></span>
            </a>
        </div>
    </nav>
    <div class="container p-3 mb-3" style="background-color: beige;border-radius: 10px;">
        <div class="row g-3 justify-content-center mb-3">
            <div class="col-md-4">
                <label for="exampleDataList" class="form-label">Choose City</label>
                <input class="form-control" ng-model="SelCity" list="datalistOptions" placeholder="Type to search..."
                    ng-change="doFetchequip();">
                <datalist id="datalistOptions">
                    <option ng-repeat="obj in jsonArraycity" value="{{obj.city}}"></option>
                </datalist>
            </div>
            <div class="col-md-4 ">
                <label for="exampleDataList" class="form-label">Choose Equipment </label>
                <input class="form-control " ng-model="equipment" list="Equiplist" placeholder="Type to search...">
                <datalist id="Equiplist">
                    <option ng-repeat="objone in jsonArrayequip" value="{{objone.equipment}}"></option>
                </datalist>

            </div>
            <div class="col-md-4 d-flex align-items-end">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buybor" id="inlineRadio1"
                        value="buy" ng-model="buybor">
                    <label class="form-check-label" for="inlineRadio1">Want to buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="buybor" id="inlineRadio2"
                        value="borrow" ng-model="buybor">
                    <label class="form-check-label" for="inlineRadio2">Want To borrow</label>
                </div>
            </div>
            <div class="col-md-4 ">
                <!-- <label class="form-label">&nbsp;</label><br> -->

                <input type="button" class="btn btn-success" ng-click="get_all_equip(equipment);" value="Search For Equipments">
            </div>
        </div>

    </div>
    <!---->


    <div class="container">
        <div class="row g-3">
            <div class="col-md-3" ng-repeat="obj in jsonArray">
                <div class="card text-center border-info ">
                    <img src="{{obj.pic1url}}" class="card-img-top" alt="..." height="300">
                    <div class="card-body">
                        <h5 class="card-title">Donor Email id: {{obj.emailid}}</h5>
                        <p class="card-text">Equipment Name: {{obj.equipment}}</p>
                        <p class="card-text">Type: {{obj.etype}}</p>
                        <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#detailModal"
                            ng-click="doshowdetails(obj);">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Equipment details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <center>
                        <img src="{{objone.pic1url}}" width="300" height="200">
                        <img src="{{objone.pic1url}}" width="300" height="200">
                    </center>
                    <br>
                    <table class=" table table-warning  table-hover text-center">
                        <tr>
                            <th>Donor Email id</th>
                            <th>Equipment Name</th>
                            <th>Condition</th>
                            <th>Type</th>
                            <th>Cost(Rs.)</th>

                            <th>Information</th>
                        </tr>
                        <tr>
                            <td>{{objone.emailid}}</td>
                            <td>{{objone.equipment}}</td>
                            <td>{{objone.econdition}}</td>
                            <td>{{objone.etype}}</td>
                            <td>{{objone.amount}}</td>

                            <td>{{objone.info}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>